body 
{ 
    font-family: 'Comfortaa', sans-serif; 
    background-color: #F5F3F6; 
    text-align: center; 

} 

header 
{ 
    top: 0; 
    left: 0; 
    right: 0; 
    padding: 20px;
    background-color: #4E4653; 
    color: white; 
}

h1 
{ 
    font-size: 50px; 
} 

nav 
{ 
    margin: 20px 0; 
} 

nav a 
{ 
    margin-right: 10px; 
} 

.line 
{ 
    width: 100%; 
    height: 1px; 
    background-color: #8DA093; 

} 

.title 
{ 
    font-size: 35px; 
    color: #1D3A26; 
}

.subtitle
{
    font-size: 30px; 
    color: #1D3A26;
}

.menu-page 
{ 
    display: inline-block; 
    padding: 10px 20px; 
    background-color: #B9B5BA; 
    color: #fff; 
    text-decoration: none; 
    cursor: pointer; 
    border-radius: 6px;
    transition: 0.4s;
} 

.menu-page:hover 
{ 
    background-color: #969098; 
    transform: scale(1.03); 
    transition: background-color transform 0.5s ease-in-out; 
} 


.container 
{ 
    display: flex; 
    flex-wrap: wrap;
    justify-content: space-around; 
    padding: 0 0 120px 20px; 
    margin: 0 auto; 
    width: 100%; 
    max-width: 1200px;
} 


.dish 
{ 
    display: inline-block; 
    width: 50vh;
    margin: 20px; 
    padding: 10px; 
    background-color: #CDCACE;
    -webkit-box-shadow: -1px 3px 32px -6px rgba(131, 131, 131, 0.47);
    -moz-box-shadow: -1px 3px 32px -6px rgba(131, 131, 131, 0.47);
    box-shadow: -1px 3px 32px -6px rgba(131, 131, 131, 0.47);
    color: #fff; 
    transition: 1s;
} 

.dish:hover 
{ 
    transform: scale(1.04); 
} 

.dish img 
{ 
    width: 90%; 
    transition: transform 0.5s ease-in-out; 
} 

.dish:hover img 
{ 
    transform: scale(1.06); 

}

.name
{
    font-size: 25px;
    font-weight: 700;
    color: #283E2F; 

}

main p 
{ 
    padding: 0 10px; 
    font-size: 18px; 
    font-weight: 500; 
    text-align: left; 
    color: #283E2F; 
} 

.price
{
    font-size: 20px;
    font-weight: 700; 
    margin-top: 10px; 
}

.contacts 
{
    font-size: 18px;
    color: #213F26;
    text-decoration: none;
    transition: font-size 0.4s ease;
}

 .contacts:hover 
 {
    font-size: 19px;
}

::-webkit-scrollbar
{
    width: 10px;
}

::-webkit-scrollbar-track
{
    background-color: #C5C3C6;
}

::-webkit-scrollbar-thumb
{
    background-color: #A099A3;
    border-radius: 6px;

}

::-webkit-scrollbar-thumb:hover
{
    background-color: #8C8490;
    
}

.address
{
    color: #213F26;
}

footer 
{ 
    bottom: 0; 
    left: 0; 
    right: 0; 
    padding: 2px; 
    background-color: #868287; 
    color: #16251C; 
} 
