body 
{
   font-family: 'Comfortaa', sans-serif;
   background-color: #F5F3F6;
   text-align: center;
}

header 
{
    top: 0;
    left: 0;
    right: 0;
    padding: 20px;
    background-color: #2C292E;
    color: white;   
}

h1
{
    font-size: 50px;
}

nav 
{
     margin: 20px 0;
 }

nav a 
{
     margin-right: 10px;
}

.line 
{ 
    width: 100%; 
    height: 1px; 
    background-color: #8DA093; 
}

.title
{
    font-size: 30px;
    color: #1D3A26;

}

main p
{
    padding: 0 20px;
    font-size: 20px;
    font-weight: 500;
    text-align: left;
    color: #283E2F;
}

p span
{
    font-size: 25px;
    font-weight: 800;
    
}

.menu-page 
{
    display: inline-block;
    padding: 10px 20px;
    background-color: #B9B5BA;
    color: #fff;
    text-decoration: none;
    cursor: pointer;
    border-radius: 6px;
    transition: 0.4s;

}

.menu-page:hover 
{
    background-color: #969098;
    transform: scale(1.03);
}

.container
{
    display: flex;
    flex-wrap: nowrap;
    align-items: flex-start;
    justify-content: space-around;
    margin: 0 auto;
    padding: 0 20px 250px;
    width: 100%;
    max-width: 1200px;
                
}

.image 
{
    width: 80%;
}

.image-description
{ 
    color: #283E2F; 
    text-align: center;
}


.contacts 
{
    font-size: 18px;
    color: #213F26;
    text-decoration: none;
    transition: font-size 0.4s ease;
}

 .contacts:hover 
{
      font-size: 19px;
}

::-webkit-scrollbar
{
    width: 10px;
}

::-webkit-scrollbar-track
{
    background-color: #C5C3C6;
}

::-webkit-scrollbar-thumb
{
    background-color: #A099A3;
    border-radius: 6px;

}

::-webkit-scrollbar-thumb:hover
{
    background-color: #8C8490;
    
}

.address
{
    color: #213F26;
}

footer 
{
    /* position: fixed; */
    bottom: 0;
    left: 0;
    right: 0;
    padding: 2px;
    width: 100%;
    background-color: #868287;
    color: #16251C;
}
